boto3==1.4.0
botocore==1.4.55
docutils==0.12
futures==3.0.5
jmespath==0.9.0
keyring==9.3.1
logging==0.4.9.6
py==1.4.31
pycryptodome==3.4
pyocclient==0.2
pytest==3.0.2
python-dateutil==2.5.3
requests==2.11.1
s3transfer==0.1.4
secret==0.6.11
six==1.10.0
tabulate==0.7.5
trollius==2.1